@using ManagerMusic.Models
@inject LanguageService languade
@{
    ViewData["Title"] = languade.Getkey("staff_chat");
    Layout = "~/Views/Shared/Manager_Staff/Page_ChatStaff.cshtml";
}

<div class="col-sm-10 col-sm-offset-4 frame">
    <div style="background-color: rgb(0, 132, 255); border-radius: 10px; position: inherit; border: 3px solid #00b6ff; z-index: 20; ">
        <div class="row">
            <div class="col-md-6">
                <p style="text-align: left; color: white; margin: 0px 20px; font-size: 14px; font-family: initial;">
                    <i class="fas fa-users-cog"></i>
                    <i data-bs-toggle="tooltip" data-bs-placement="top" title="@languade.Getkey("Filtermessages_Date")" class="fas fa-filter" id="FiterDate" style="margin:0px 15px;"></i>
                    <i data-bs-toggle="tooltip" data-bs-placement="top" title="@languade.Getkey("reset")" class="fas fa-sync-alt" id="resetData" style="margin:0px 0px;"></i>
                    <i data-bs-toggle="tooltip" data-bs-placement="top" title="@languade.Getkey("Seepicture_message")" class="fas fa-images" id="ViewImages" style="margin:0px 15px;"></i>
                    <i data-bs-toggle="tooltip" data-bs-placement="top" title="@languade.Getkey("Viewlist_files")" class="fas fa-file-alt" id="ViewFiles" style="margin:0px 0px;"></i>
                </p>
            </div>
            <div class="col-md-6">
                <p style="text-align: right; margin: 0px 30px; color: white; font-size: 14px; font-family: initial;">
                    @languade.Getkey("Have") <b style="font-weight:600" id="totalUser"></b> @languade.Getkey("Members_group") <i class="fas fa-users"></i>
                </p>
            </div>
        </div>
    </div>
    <ul id="CssUl"></ul>
    <div class="row">
        <div class="col-md-6">
            <input id="message" style="border-radius: 10px; border: 3px solid #0080ff;" type="text" class="form-control" placeholder="@languade.Getkey("Enter_message")">
        </div>
        <div class="col-md-6">
            <span id="btnSend" class="col-sm-2 col-form-label" style=" border: none; background: none; font-size: 25px; color: #0000ff9c;">
                <i class="fas fa-paper-plane" id="sentMesage"></i>
            </span>
            <span id="btnSendImage" class="col-sm-2 col-form-label" style=" border: none; background: none; font-size: 25px; color: #0000ff9c;">
                <i class="fas fa-file-image" id="sentFileImage"></i>
            </span>
            <span id="MessageLike" class="col-sm-2 col-form-label" style=" border: none; background: none; font-size: 25px; color: #0000ff9c;">
                <i class="fas fa-thumbs-up" id="sentIconLike"></i>
            </span>
            <span id="MessageLaugh" class="col-sm-2 col-form-label" style=" border: none; background: none; font-size: 25px; color: #0000ff9c;">
                <i class="far fa-grin-squint-tears" id="sentIconFun" style="color: #FF3366;"></i>
            </span>
            <span id="MessageSad" class="col-sm-2 col-form-label" style=" border: none; background: none; font-size: 25px; color: #0000ff9c;">
                <i class="far fa-frown" id="sentIconSad" style="color: #FFFF00;"></i>
            </span>
            <span id="MessageLove" class="col-sm-2 col-form-label" style=" border: none; background: none; font-size: 25px; color: #0000ff9c;">
                <i class="fas fa-kiss-wink-heart" id="sentIconLove" style="color: #FF00FF;"></i>
            </span>
        </div>
    </div>
</div>

<!--modal show info user-->
<div class="modal showmodal-seachNamemusic" tabindex="-1" id="modalShowInfoUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-user-md-chat"></i> @languade.Getkey("Chatperson_info")</h5>
                <button type="button" class="btn-close" id="btnClose">X</button>
            </div>
            <div class="modal-body">
                <div class="mb-3" id="AvataImg">
                </div>
                <div class="mb-3">
                    <label class="form-label">@languade.Getkey("FullName_Comment")</label>
                    <input style="border-radius:10px;" type="text" class="form-control" id="TxtNameStaff" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">@languade.Getkey("Role_App")</label>
                    <input style="border-radius:10px;" type="text" class="form-control" id="TxtRoleNameStaff" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">@languade.Getkey("Total_Com")</label>
                    <input style="border-radius:10px;" type="text" class="form-control" id="TxtToalComment" disabled />
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_ListComment" style="border-radius:10px;" type="button" class="btn btn-primary"><i class="fas fa-comments"></i> @languade.Getkey("Chat_List")</button>
            </div>
        </div>
    </div>
</div>

<!--modal show list comment user-->
<div class="modal showmodal-seachNamemusic" tabindex="-1" id="modalShowListComment">
    <div class="modal-dialog" style="max-width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-comments"></i> @languade.Getkey("Chat_List")</h5>
                <button type="button" class="btn-close" id="btnCloseList">X</button>
            </div>
            <div class="modal-body">
                <p style="font-family: initial; font-size: 17px; text-align: right;">@languade.Getkey("Total_Com") <b style="color: red; font-weight: 600" id="TotalChat"></b></p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">@languade.Getkey("No") <i class="fas fa-sort" id="SortId"></i></th>
                            <th scope="col">@languade.Getkey("Message")</th>
                            <th scope="col">@languade.Getkey("Message_time")</th>
                            <th scope="col">@languade.Getkey("Role_App")</th>
                        </tr>
                    </thead>
                    <tbody id="body_Message">
                    </tbody>
                </table>
                <p style="text-align:right;">@languade.Getkey("page") : <b id="TotalItem" style="color:red;"></b>/<b id="ItemInPage" style="color:black;"></b></p>
                <!-- Pagination -->
                <div class="row" style="clear: both;">
                    <div id="pagination" class="pagination" style="margin: 10px 10px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal sent image-->
<div class="modal showmodal-seachNamemusic" tabindex="-1" id="modalIamge">
    <div class="modal-dialog" style="max-width: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-images"></i> @languade.Getkey("Selectimagefile_send")</h5>
                <button type="button" class="btn-close" id="btnCloseImage">X</button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input style="border-radius: 10px;" type="file" name="files" multiple id="Images" class="form-control" placeholder="@languade.Getkey("Selectfile_send")">
                </div>
                <div class="form-group">
                    <div id="filelist">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button style="border-radius: 10px;" id="btnSubmitImage" type="button" class="btn btn-primary"><i class="fas fa-upload"></i> @languade.Getkey("Sent_File")</button>
            </div>
        </div>
    </div>
</div>

<!--modal fuilter date-->
<div class="modal showmodal-seachNamemusic" tabindex="-1" id="modalShowFilter">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-calendar-alt"></i> @languade.Getkey("Filtermessages_Date")</h5>
                <button type="button" class="btn-close" id="btnCloseFilter">X</button>
            </div>
            <div class="modal-body">
                <input type="text" id="rangeDate" placeholder="@languade.Getkey("select_date")" data-input>
            </div>
            <div class="modal-footer">
                <button style="border-radius: 10px;" id="SentFulter" type="button" class="btn btn-primary"><i class="fas fa-filter"></i> @languade.Getkey("Filter_data")</button>
            </div>
        </div>
    </div>
</div>

<!--modal Images list message-->
<div class="modal showmodal-seachNamemusic" tabindex="-1" id="modalShowListImageData">
    <div class="modal-dialog" style="max-width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-images"></i> @languade.Getkey("Seepicture_message")</h5>
                <button type="button" class="btn-close" id="btnCloseImages">X</button>
            </div>
            <div class="modal-body">
                <div id="BodyImages" style="overflow: scroll; height: 590px;">

                </div>
            </div>
        </div>
    </div>
</div>

<!--modal file list message-->
<div class="modal showmodal-seachNamemusic" tabindex="-1" id="modalShowListFile">
    <div class="modal-dialog" style="max-width:85%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-file-plus"></i> @languade.Getkey("File_List")</h5>
                <button type="button" class="btn-close" id="btnCloseFle_L">X</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-4">
                        <input style="border-radius: 10px; text-align: center;" type="text" id="rangeDate_File" class="form-control" placeholder="@languade.Getkey("select_date")" data-input>
                    </div>
                    <div class="col-md-2">
                        <button style="border-radius: 10px;" class="btn btn-primary" id="btn_FilterDate"><i class="fas fa-filter"></i> @languade.Getkey("Filter_data")</button>
                    </div>
                </div>
                <div id="BodyListFile" style="overflow: scroll; height: 590px;">
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal slider show list image in message-->
<div class="modal showmodal-seachNamemusic" tabindex="-1" id="modalShowSliderListImage">
    <div class="modal-dialog" style="max-width:90%; max-height: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-images"></i> @languade.Getkey("Listimages_message")</h5>
                <button type="button" class="btn-close" id="btnCloseSlider">X</button>
            </div>
            <div class="modal-body" style="overflow: scroll; height: 600px;">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    </ol>
                    <div class="carousel-inner">
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">@languade.Getkey("Before")</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">@languade.Getkey("next")</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal loading create Music -->
<div class="modal showmodal-seachNamemusic" tabindex="-1" id="modal_LoadingCreateMusic">
    <div class="modal-dialog">
        <div class="modal-content" style="background:none; border:none;">
            <div class="modal-body">
                <div class="row" style="margin-top:200px;">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="@ViewBag.IdUser" id="IdUser" />
<input type="hidden" value="@ViewBag.FullName" id="FullName" />
<input type="hidden" value="@languade.Getkey("head")" id="head" />
<input type="hidden" value="@languade.Getkey("next")" id="next" />
<input type="hidden" value="@languade.Getkey("last")" id="last" />
<input type="hidden" value="@languade.Getkey("Before")" id="Before" />
<input type="hidden" value="@languade.Getkey("SentMessage_Error")" id="SentMessage_Error" />
<input type="hidden" value="@languade.Getkey("Notification_Error")" id="Notification_Error" />
<input type="hidden" value="@languade.Getkey("enter_content")" id="enter_content" />
<input type="hidden" value="@languade.Getkey("Cannotsend_10files")" id="Cannotsend_10files" />
<input type="hidden" value="@languade.Getkey("selectfilesend")" id="selectfilesend" />
<input type="hidden" value="@languade.Getkey("Nomessages_employee")" id="Nomessages_employee" />
<input type="hidden" value="@languade.Getkey("select_date")" id="select_date" />
<input type="hidden" value="@languade.Getkey("Noimages_Id")" id="Noimages_Id" />
<input type="hidden" value="@languade.Getkey("see_more")" id="see_more" />
<input type="hidden" value="@languade.Getkey("Dowload")" id="Dowload" />
<input type="hidden" value="@languade.Getkey("select_date")" id="select_date" />
<input type="hidden" value="@languade.Getkey("Sender")" id="Sender" />